


/* Partes que son cambian al cambiar tamaño de la pantalla */



/*------------------------------------------------------------- */
/* --------------------------TABLET------------------------------ */
/*------------------------------------------------------------- */

@media screen and (max-width: 1050px) and (min-width: 764px){ 

    /* Botones de cover letter y resume */
    
    .button {
        display: inline-block;
        padding: 15px 30px; /* Ajusta el tamaño del botón */
        margin-top: 10px; /* Espaciado arriba del botón */
        background: linear-gradient(135deg, #4e54c8, #8f94fb); /* Degradado atractivo */
        border: none; /* Sin borde */
        border-radius: 30px; /* Bordes redondeados */
        color: white; /* Color del texto */
        font-size: 18px; /* Tamaño de la fuente */
        font-weight: bold; /* Fuente en negrita */
        text-decoration: none; /* Quitar subrayado */
        transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }
    

    
    .button h2{
        color: white;
    }
    
    .button:hover {
        transform: translateY(-3px); /* Efecto de elevación al pasar el mouse */
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    }
    
    .button:active {
        transform: translateY(1px); /* Efecto de hundimiento al hacer clic */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Regresa a la sombra original */
    }
    
    #plantillas h2{
        text-align: center;
    }


        /* Resumes */

    .resume-examples {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    .resume-examples h3
    {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .example {
        text-align: center;
        flex: 1;
        margin: 0 10px; /* Espaciado entre ejemplos */
    }

    .example img {
        max-width: 100%;
        border-radius: 10px; /* Bordes redondeados para las imágenes */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
    }

    .checklist {
        margin-top: 20px;
        padding: 10px;
        background-color: #2b3546; /* Fondo oscuro para la checklist */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para la checklist */
    }

    .checklist ul {
        list-style-type: none; /* Quitar los puntos de la lista */
        padding: 0; /* Quitar el padding por defecto */
        margin: 0; /* Quitar el margen por defecto */
    }

    .checklist li {
        margin: 5px 0; /* Espaciado entre los elementos de la lista */
        color: white;
    }

    
}




/*------------------------------------------------------------- */
/* --------------------------CELULAR------------------------------ */
/*------------------------------------------------------------- */

@media screen and (max-width: 764px){

    /* BOTON */
    .button {
        display: inline-block;
        padding: 15px 30px; /* Ajusta el tamaño del botón */
        margin-top: 10px; /* Espaciado arriba del botón */
        background: linear-gradient(135deg, #4e54c8, #8f94fb); /* Degradado atractivo */
        border: none; /* Sin borde */
        border-radius: 30px; /* Bordes redondeados */
        color: white; /* Color del texto */
        font-size: 10px; /* Tamaño de la fuente */
        font-weight: bold; /* Fuente en negrita */
        text-decoration: none; /* Quitar subrayado */
        text-align: center; /* Centrar el texto */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
        
    }
    
    .button h2{
        color: white;
        size: 1em
    }
    
    #plantillas h2{
        text-align: center;
    }


        /* Resumes */

    .resume-examples {
        justify-content: space-between;
        margin: 20px 0;
    }
    .resume-examples h3
    {
        font-size: 1.5em;
        text-align: center;
    }

    .example {
        flex: 1;
        margin: 0 10px; /* Espaciado entre ejemplos */
    }

    .example img {
        max-width: 75%;
        border-radius: 10px; /* Bordes redondeados para las imágenes */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
    }

    .checklist {
        margin-top: 40px;
        padding: 10px;
        background-color: #2b3546; /* Fondo oscuro para la checklist */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para la checklist */
    }

    .checklist h3{
        font-size: 1.5em;
    }

    
    .checklist ul {
        list-style-type: none; /* Quitar los puntos de la lista */
        padding: 0; /* Quitar el padding por defecto */
        margin: 0; /* Quitar el margen por defecto */
    }

    .checklist li {
        margin: 5px 0; /* Espaciado entre los elementos de la lista */
        color: white;
    }

    #resumes-button{
        margin-top: 50px;
    }

    .example p{
        margin-top: auto;
    }
    
}



body {
    margin: 0;
    padding: 0;
    /* Cambia estos colores por los que prefieras */
    background: linear-gradient(to right, #384455, #434f5f); /* Degradado suave */
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    font-family: 'Poppins', sans-serif; /* Fuente predeterminada */
    color: #333;
}
.navbar {
    flex-direction: column;
    position: fixed; /* Fija la barra de navegación */
    top: 0; /* Ubicada en la parte superior */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #0056b3;
    color: white;
    z-index: 1000; /* Asegurar que quede por encima de otros elementos */
    width: 98%; /* Ocupar todo el ancho de la pantalla */
}
.menu-icon {
    color: white;
    font-size: 28px;
    cursor: pointer;
    display: none; /* Ocultar por defecto */
}
.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: #333;
    margin-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 999;

}
.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
}
/* Cuando se activa, el menú se mostrará */
.nav-menu.active {
    display: block;
}

.nav-menu li {
    padding: 10px;
    margin: 0 15px;
}

.nav-menu li a:hover {
    background-color: #444;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

/* ------------- CEL Y TABLET -----------------*/
@media (max-width: 1024px) {

    .menu-icon {
        display: block; /* Mostrar menú hamburguesa en móviles */
        position: absolute;
        left: 20px;

    }

    .button{
        color: blue;
    }


    /* Menú hamburguesa */

    .nav-menu {
        display: none; /* Ocultar el menú por defecto */
        flex-direction: column; /* Colocar elementos en columna */
        position: absolute; /* Posicionar el menú */
        left: 0;
        top: 5px;
        background: linear-gradient(to bottom, #37445a, #1d2430); /* Color de fondo del menú */
        width: 100%; /* Ancho completo */
    }

    .nav-menu.active {
        display: flex; /* Mostrar menú al hacer clic */
    }

    .nav-menu li {
        margin: 10px 0;
        text-align: center; /* Centrar texto en móviles */
        border-bottom: 2px solid #f5f5f560; /* Línea divisoria entre los ítems */
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .nav-menu li:last-child {
        border-bottom: none; /* Elimina la línea divisoria del último ítem */
    }
    
    .nav-menu li a {
        color: white;
        text-decoration: none;
        padding: 10px 0;
        display: block; /* Cada enlace toma toda la fila */
    }


   /* CARRUSEL */

        /* Estilos del carrusel */
        .carousel-container {
            overflow: hidden;
            width: 100%;
        }
        .carousel-track {
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth; /* Scroll suave */
            scrollbar-width: none; /* Esconder la barra de scroll en Firefox */
        }
        .carousel-track::-webkit-scrollbar {
            display: none; /* Esconder la barra de scroll en Chrome/Safari */
        }
        #plantillas{
            text-align: center;
        }


     /* Image Links */
    .image-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        
    }

    .image-links a {
        display: flex; /* Cambia a flex para alinear el texto con la imagen */
        flex-direction: column; /* Coloca la imagen y el texto en columna */
        align-items: center; /* Centra el contenido horizontalmente */
        text-align: center; /* Centra el texto debajo de la imagen */
    }
    
    .tooltip-text {
        text-align: center; /* Centra el texto */
        color: white; /* Color del texto */
        margin-top: 5px; /* Espacio entre la imagen y el texto */
        /* Ajusta el tamaño del texto si es necesario */
    }

    

  


}





/* ------------SOLO PC--------------- */
@media screen and (min-width: 1024px){
    /* Resumes */

.resume-examples {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.resume-examples h3
{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.example {
    text-align: center;
    flex: 1;
    margin: 0 10px; /* Espaciado entre ejemplos */
}

.example img {
    max-width: 100%;
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
}

.checklist {
    margin-top: 20px;
    padding: 10px;
    background-color: #2b3546; /* Fondo oscuro para la checklist */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para la checklist */
}

.checklist ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0; /* Quitar el padding por defecto */
    margin: 0; /* Quitar el margen por defecto */
}

.checklist li {
    margin: 5px 0; /* Espaciado entre los elementos de la lista */
    color: white;
}

.image-hover  {
    display: inline-block;
    transition: transform 0.2s ease; /* Transición suave */
    transform-origin: center; /* Establece el origen de la transformación en el centro */
}

.image-hover img:hover {

    transition: transform 0.01s ease;
    transform: scale(1.015);
}


/* Image Links */
.image-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.image-links a {
    display: inline-block;
    position: relative; /* Necesario para el tooltip */
    transition: transform 0.3s ease;
}

.image-links a:hover {
    transform: scale(1.1);
}

/* Tooltip Styles */
.tooltip-text {
    visibility: hidden; /* Oculto por defecto */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y transparente */
    color: #fff; /* Texto blanco */
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    bottom: 95%; /* Muestra el tooltip encima de la imagen */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    opacity: 0; /* Invisible al inicio */
    transition: opacity 0.3s ease;
    z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.image-links a:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}   

.button {
    display: inline-block;
    padding: 15px 30px; /* Ajusta el tamaño del botón */
    margin-top: 10px; /* Espaciado arriba del botón */
    background: linear-gradient(135deg, #4e54c8, #8f94fb); /* Degradado atractivo */
    border: none; /* Sin borde */
    border-radius: 30px; /* Bordes redondeados */
    color: white; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negrita */
    text-decoration: none; /* Quitar subrayado */
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}



.button h2{
    color: white;
}

.button:hover {
    transform: translateY(-3px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

.button:active {
    transform: translateY(1px); /* Efecto de hundimiento al hacer clic */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Regresa a la sombra original */
}
    
}

/* Aplicar margen lateral */
.content {
    margin: 0 auto;
    padding: 20px;
    max-width: 90%;
}

#portafolio_Descripcion
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#portafolio_texto
{
    text-align: center;
}

.image-links a:hover {
    transform: scale(1.1);
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    margin: 10px;
}


h1, h2 {
    color: #ffffff;
}
h3{
    font-size: 2em;
    color: white;
}

p {
    line-height: 1.6;
    color: #ffffff;
}


.logo {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.section {
    margin: 0 auto;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #2a303a, #1f2631); /* Degradado suave */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}
.section2 {
    margin: 20px;
    padding: 80px;
    background: linear-gradient(to bottom, #2a303a, #1f2631); /* Degradado suave */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}




/* Hero Section */
.hero {
    text-align: center; /* Centra el contenido */
    padding: 70px 20px; /* Espaciado alrededor del contenido */
    color: #ffffff; /* Color del texto */
}

h1 {
    font-size: 3em; /* Tamaño grande para el título */
    margin: 20px 0; /* Espacio alrededor del título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto para darle profundidad */
    animation: fadeIn 1s ease-in; /* Animación al cargar */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
}

.hero p {
    font-size: 1.5em; /* Tamaño más grande para el párrafo */
    margin: 10px 0; /* Espacio alrededor del párrafo */
    max-width: 600px; /* Ancho máximo del párrafo */
    margin-left: auto; /* Centra el párrafo horizontalmente */
    margin-right: auto; /* Centra el párrafo horizontalmente */
    animation: fadeIn 1s ease-in; /* Animación al cargar */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.hero h1 {
    font-size: 2.5em;
}

/* Section */


h2 {
    font-size: 2em; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    color: #cbcdff; /* Color principal */
    margin: 20px 0; /* Espaciado vertical */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    position: relative; /* Posición relativa para el efecto de sombra */
}


/* Portfolio Templates */
.portfolio-templates {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.portfolio2-templates {
    display: flex;
    justify-content: center;
    gap: 20px;
    /*ACA NECESITO AYUDA */
}

.portfolio-item {
     /* Centra el texto y las imágenes dentro del contenedor */
    flex-shrink: 0; /* Evita que los elementos se reduzcan */
    max-width: 500px; /* Limita el tamaño máximo de cada item */
}

.portfolio-templates img {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

.portfolio-templates img:hover {
    transform: scale(1.125);
    transform:perspective(150deg);
}






/* Footer */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

#resumes, #nosotros, #servicios {
    text-align: center; /* Para centrar todo el contenido dentro de la sección */
}

.centrar-texto {
    text-align: center; /* Específicamente para centrar el texto del párrafo */
}

#cover-letter {
    text-align: center; /* Para centrar todo el contenido dentro de la sección */
}
#contacto {
    padding: 40px;
    background-color: #f8f8f8;
    text-align: center;
}

#contacto h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p, .horarios p {
    font-size: 1.2em;
    margin: 10px 0;
}

.contact-info i, .social-icons i {
    color: #007bff;
    margin-right: 10px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.horarios ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

.horarios li {
    margin: 5px 0;
}

.social-icons a {
    font-size: 1.5em;
    margin: 0 10px;
    color: #007bff;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0056b3;
}
#recursos h2{
    text-align: center;
}


/*boton */
#WhatsAppProduct{
    display: inline-block;
    padding: 15px 30px; /* Ajusta el tamaño del botón */
    margin-top: 10px; /* Espaciado arriba del botón */
    background: linear-gradient(135deg, #4e54c8, #8f94fb); /* Degradado atractivo */
    border: none; /* Sin borde */
    border-radius: 30px; /* Bordes redondeados */
    color: white; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negrita */
    text-decoration: none; /* Quitar subrayado */
    text-align: center; /* Centrar el texto */
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/*Sparkles*/
#effect-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.sparkle {
    position: absolute;
    width: 5px;
    height: 10px;
    background-color:#b200ff;
    box-shadow: 0 0 10px 5px rgba(178, 0, 255, 0.6);
    border-radius: 50%;
    opacity: 0;
    animation: sparkleMove 0.5s ease-out forwards;
}
@keyframes sparkleMove {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.click-effect {
    animation: explode 0.5s ease-out forwards;
    background-color: #b200ff; /* Color morado */
    box-shadow: 0 0 20px 10px rgba(178, 0, 255, 0.8);
}
@keyframes explode {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}